::selection {
    color: #121212;
    background-color: #ffe500;
}

body {
    position: relative;
    left: 300px;
    line-height: 1.5;
    color: #121212;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    border-left: #e8e8e8 1px solid;
    padding: 8px;  
}

h1 {
    color: #7d0068;
    font-weight: 700;
    font-size: 34px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    padding-bottom: 36px;
    margin: 0;
    width: 660px;
    line-height: 38px;
    display: block;
    width: 620px;    
}

p {
    margin-left:12px;
    padding: 0;
    display: block;
    margin-block-start: 16px;
    margin-block-end:16px ;
    margin-inline-start: 0;
    margin-inline-end: 0 ;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-family: Guardian Text Egyptian Web,Georgia,serif;
    width: 620px;
}

p a {
    text-decoration: none;
    color: #bb3b80;
    border-bottom: 1px #dcdcdc solid;
}

p a:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: #bb3b80;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-color: #bb3b80;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 12px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding-top: 3px;
    padding-bottom: 6px;
    color: #767676;
    line-height: 16px;
    width: 520px;
}

figcaption .principal {
    width: 620px;
}

.author {
    font-family:"Guardian Egyptian Web",Georgia,serif;
    font-size: 17px;
    font-weight: 700;
    color: #bb3b80;
    margin-bottom: 6px;
}

.author a {
    text-decoration: none;
    color: #bb3b80;
}

.author a:hover {
    text-decoration: underline;
}

.date {
    font-size: 12px;
    line-height: 16px;
    font-family:"Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #767676;
    border-bottom: 1px #e8e8e8 solid;
    padding-bottom: 6px;
}

.circle {
    border: 1px #e8e8e8 solid;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: white;
    text-align: center;
    margin-left: 7px;
    margin-top: 7px; 
    fill: #bb3b80;
}

.icon {
    color: #bb3b80;
    display: inline-block;
    position: relative;
    left: -7px;
    top: -1px;
}

.icon :hover {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color:#bb3b80;
    fill: #ffffff;
}

.email {
    position: relative;
    left: -8.5px;
    top: -3.5px;
}

.image {
    width: 620px;
    height: 370.188px;
}

.image-principal {
    width: 620px;
    height: 413.164px;
    margin-left: 0;
    margin-bottom: 0px;
    border: 0;
    position: relative;   
}

.introduction {
    padding-bottom: 0;   
    font-family: Guardian Egyptian Web,Georgia,serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    width: 540px;
    height: 46px;
    margin-bottom: 8px;
    letter-spacing: -0.5px;
}

.first-letter {
        display: inline;
        color: #7d0068;
        font-weight: 700;
        font-size: 109px;
        line-height: 75px;
        float: left;
        margin-top: 4px;
        margin-right: 5px;
        margin-left: 5px;
}

.footer-title {
    font-size: 12px;
    line-height: 16px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #999;
    display: inline;
}

.footer-element {
    font-size: 17px;
    line-height: 20px;
    font-family: "Guardian Egyptian Web",Georgia,serif;
}

.footer-nav {
    padding-top: 5px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding-bottom: 30px;
    border-bottom: #e8e8e8 1px solid;
}

.separation-lines {
    padding-top: 2px;
    border-spacing: 5px;
    border-top:  #e8e8e8  5px double;
    border-bottom: #e8e8e8  5px double;
}

.nextnews {
    background-color: #ffffff;
    color: #c70000;
    border: #bb3b80 1px solid;
    width: 280px;
    height: 20px;
}